$violet:#6D3EFF;
$white:#FFF;
$yellow:#FFE82B;
$cta-color: #6C17C5; 
$font:'Poppins', sans-serif;
$font-logo: 'Righteous', cursive;

.container {
    position: relative;
    
}

.h2 {
    font-size: 50px; 
}
