.header {
    position: fixed; 
    z-index: 10;
    width: 100vw;
    height: 10vh; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; 
    background: $background;
    box-shadow: 1px 1px 1px $cta-color; 
}
.header--logo {
    padding-top: 10px;
    width: 195px;
    height: 67px;
    img {
        width: 100%; 
    }
}
.header--buttons {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 30%; 
    height: 50px; 
    color: #FFF; 
    &-1, &-2 {
        width: 180px;
        padding: 5px 0; 
        text-align: center;
        border-radius: 40px;
        cursor: pointer;
        color: #FFF;
        background-color: $cta-color;
        & a {
            color: #FFF;
            &:hover {
                color: $cta-color;
            }
        }
        &:hover {
            background-color: #FFF;
            // & a {
            //     color: $cta-color;
            // }
            
        }
    }
    &-1 {
        margin-right: 60px;
    }
}