.header {
    position: fixed; 
    z-index: 10;
    width: 100vw;
    height: 10vh; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; 
}
.header--logo {
    padding-top: 10px;
    width: 195px;
    height: 67px;
    img {
        width: 100%; 
    }
}
.header--buttons {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 20%; 
    height: 50px; 
    color: #FFF; 
    &-1, &-2 {
        padding: 10px 20px; 
        border-radius: 40px;
        cursor: pointer;
        background-color: $cta-color; 
    }
}
.header--back {
    height: 65px; 
    background-color: pink;
}