.ia-dialog {
    position: relative;
    background-image: url('../img/cloud.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 300px; 
    font-size: 50px; 
}
.ia-dialog1 {
    height: 130px; 
    padding: 30px 0;
}
.ia-dialog1--wrap {
    // position: fixed; 
    // top: 20%; 
    // left: 50%; 
    // transform: translateY(-50%);
}
.ia-dialog1--content {
    text-align: center;
    
}
