.introduction {
  height: 500px;
  padding-top: 40px;
  font-size: 30px;
  text-align: center;
  background-color: yellow;
}

/* ---
------- SLIDER PART
--- */
.slider {

  display: block;
  background-color: red;
  height: 60px;
  margin: 20px 0;
  overflow: hidden;
}

.slider__list {
  list-style: none;
  margin: 0 10px;
  height: 100%;
  transition: 0.8s ease-in-out;
}

.slider__item {
  height: 100%;
  display: block;
  text-align: center;
  // animation: colorchange 20s infinite alternate;
  transition: color 2s ease-out;
}

/* END SLIDER PART */
