.introduction {
  position: relative;
  height: 95vh;
  font-size: 30px;
  background: $background;
  background: $background-o; 
  @media (max-width: 1199px){
    height: 60vh;
  }
}
.introduction-bg {
  height: 100%; 
  width: 100%; 
  background-size: contain;
  background-image: url('../img/phone-intro.png'); 
  background-repeat: no-repeat;
  background-position: right center;
  @media (max-width: 1199px){
    background-position: right top;
  }
}

/* ---
------- SLIDER PART
--- */
.slider {
  position: absolute;
  width: 70%; 
  top: 30%; 
  left: 10%;
  display: block;
  background-color: transparent;
  height: 100px;
  overflow: hidden;
  @media (max-width: 1199px){
    left: 1%;
    top: 83%;
  }
}

.slider__list {
  list-style: none;
  margin: 0 10px;
  height: 100%;
  transition: 0.8s ease-in-out;
}

.slider__item {
  height: 100%;
  display: block;
  padding-top: 30px; 
  color: #FFF;
  &:nth-of-type(1){
    padding-top: 5px;
  }
  &:nth-of-type(2){
    
  }
  &:nth-of-type(3){
    
  }
  &:nth-of-type(4){
    
  }
  &:nth-of-type(5){
    padding-top: 30px; 
  }

}

/* END SLIDER PART */
