.presentation {
    width: 89%; 
    padding: 30px 20px;
    margin: 0 auto;
    .h2 {
        padding-bottom: 58px;
    }
}

.presentation--wrapper {
    padding: 50px 0;
    p {
        font-size: 24px; 
        padding: 10px 0;
        
    }
}

