.video-box--section {
    height: 650px; 
    padding: 30px 0;
    background: $background;
}

.video-box {
    height: 100%; 
    width: 350px;
    margin: 0 auto; 
    text-align: center;
    background-image: url('../img/iphone.png');
}